{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="d-flex justify-content-center mt-5">
    <div class="d-flex gap-3 flex-column">
      <h3>Contact Form</h3>
      {% if success_message %}
      <div class="alert alert-success" role="alert">{{success_message}}</div>
      {% endif %}
      <form method="post" class="row g-3">
        {% csrf_token %}
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            value="{{name}}"
            class="form-control"
            id="name"
            name="name"
          />
          <span class="text-danger">{{ form.name.errors }}</span>
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            value="{{email}}"
            name="email"
          />
          <span class="text-danger">{{ form.email.errors }}</span>
        </div>
        <div class="col-12">
          <label for="message" class="form-label">Message</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            rows="4"
            value="{{message}}"
          ></textarea>
          <span class="text-danger" style="list-style-type: none"
            >{{ form.message.errors }}</span
          >
        </div>
        <div class="col-12">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
